* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 30%;
    max-width: 100%;
    /* margin: 0; */
    /* display: flex;
    flex-direction: column; */
    background-color: #242333;
  }


  

  .first-row {
    background-color: rgb(220,220,220,0.5);
    border: 1px solid white;
  }

  .table > div {
    background-color: white;
    border: 1px solid white;
  }

  button.toggle {
    width: 100%;
    color: #fff;
    background-color: #010101;
    font-size: 0.8vw;
    line-height: 30px;
    text-transform: uppercase;
    border: 0;
    
  }

  .first-row h4{
    font-size: 120%;
  }

  @media (max-width: 766px) {
    button.toggle {
      font-size: 70%;
    }

    .first-row h4{
      font-size: 12.5px;
    }
  }
  
  button.toggle:hover {
    background-color: rgb(77, 77, 77);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .hidden {
    display: none;
  }

  .student-info{
    width: 90%;
    margin: 2px auto;
  }

  

  @media only screen and (max-width: 300px){
    .booking-container > .row > div[class*="col-"] {
      align-self: start;
      text-align: start;
    }
    
  }













  






  