* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .submit{
    padding: 6px;
    border-radius: 20%;
}
  body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    /* margin: 0; */
    /* display: flex;
    flex-direction: column; */
    
  }

  .booking-header {
    padding: 30px;
    background-color: rgb(220,220,220);
    text-align: center;

  }

  .booking-container {
    width: 80%;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    overflow-wrap: break-word;
  }

  .booking-container > .row  {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
  }

  .first-row {
    background-color: rgb(152,152,152);
    color: white;
  }

  

  .booking-container > .row > div[class*="col-"] {
    align-self: center;
    text-align: center;
  }

  button.toggle , button.delete , button.update {
    color: black;
    background-color: azure;
    font-size: 1.2vw;
    line-height: 30px;
    border: none;
    margin-bottom: 5px;
    padding-top: 10px;
    margin: 10px
}


  .first-row h4{
    font-size: 120%;
  }

  @media (max-width: 515px) {
     button.toggle {
      font-size: 70%;
    } 

    .first-row h4{
      font-size: 12.5px;
    }
  }
  
  button.toggle i:hover , button.delete i:hover , button.update i:hover {
    background-color: azure;
    font-size: 1.5rem;

}

  .hidden {
    display: none;
  }

  .student-info{
    width: 90%;
    margin: 2px auto;
  }

  @media only screen and (max-width: 300px){
    .booking-container > .row > div[class*="col-"] {
      align-self: start;
      text-align: start;
    }
    
  }